<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" >
        <label for="UserName">Username</label>
        <input type="text" name="UserName" id="UserName">
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password">
        <input type="submit">
    </form>
</body>
</html>